@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import "tailwindcss";

/* Variables et classes personnalisées */
:root {
  --orange-insun: #ff5e0b;
  --jaune-insun: #ffc600;
  --anthracite: #2e2e2e;
  --title: "Space Mono", monospace;
  --text: "DM Sans", sans-serif;
}

.font-title {
  font-family: var(--title);
}
.font-text {
  font-family: var(--text);
}

@media (min-width: 1850px) {
  .grid-2xl {
    grid-template-columns: repeat(5, 1fr);
  }
}

/* Masque pour images */
.masked-image {
  -webkit-mask-image: linear-gradient(
    to bottom,
    transparent,
    rgba(0, 0, 0, 0.4) 10%,
    black 35%,
    black 65%,
    rgba(0, 0, 0, 0.4) 90%,
    transparent
  );
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  mask-image: linear-gradient(
    to bottom,
    transparent,
    rgba(0, 0, 0, 0.4) 10%,
    black 35%,
    black 65%,
    rgba(0, 0, 0, 0.4) 90%,
    transparent
  );
  mask-repeat: no-repeat;
  mask-size: cover;
}
